*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:black;
border-bottom:2px solid #FFD000;
}

.navbar ul{
display:flex;
gap:20px;
list-style:none;
}

.navbar li{
cursor:pointer;
transition:0.3s;
}

.navbar li:hover{
color:#FFD000;
}

main{
padding:40px;
}

.card{
background:#1c1c1c;
padding:30px;
border-radius:10px;
max-width:400px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
}

button{
background:#FFD000;
border:none;
padding:10px 20px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:white;
}

#resultado{
margin-top:20px;
font-size:18px;
}

table{
width:100%;
margin-top:40px;
border-collapse:collapse;
}

th{
background:#FFD000;
color:black;
padding:10px;
}

td{
padding:10px;
text-align:center;
border-bottom:1px solid #333;
}

tr:hover{
background:#222;
}

.cardItem{
background:#1c1c1c;
padding:20px;
margin:15px 0;
border-radius:10px;
}